{% extends "commons/account_base.html" %}
{% load static %}


{% block title %}パスワード変更{% endblock %}
<!--{% block link %}<link rel="stylesheet" href="{% static 'accounts/css/.css' %}">{% endblock %}-->
{% block content %}
<form class="form-password-reset " action="" method="POST">
  {% csrf_token %}
  <div class ="text-center col-lg-4 mx-auto col-md-6 col-sm-7 col-8">
  <h2 class="h3 mb-3 font-weight-normal lead mt-5">パスワードの変更</h2>
  <h2 class="h3 mb-3 font-weight-normal lead">メールアドレスを入力してください。</h2>
    {{ form.non_field_errors }}
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email }}
        {{ form.errors }}
    </div>
    <div class="mb-3">
        <a class="btn text-dark" href="{% url 'accounts:signup' %}">アカウント作成</a>
      </div>
        <button type="submit" class="btn btn-light mb-5">送信</button>
    </div>
</form>

{% endblock %}
